<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.phbouillon.android.games.alite"
    android:versionCode="2207"
    android:versionName="1.5.7"
    android:installLocation="auto" xmlns:tools="http://schemas.android.com/tools">
    
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22"/>	
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/icon"
        android:label="Alite"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:allowClearUserData="true">
        <service android:name=".io.AliteDownloaderService"/>
        <receiver android:name=".io.AliteAlarmReceiver"/>        
        
        <activity android:name="Alite"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="sensorLandscape">
        </activity>  
        <activity android:name="AliteIntro"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name="AliteStartManager"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>                             
    </application>
</manifest>
